.navigation {
    display: flex;
    margin-top: 24px;
}

.twoButtons {
    justify-content: space-between;
    width: 100%;
    gap: 0;
}

.secondaryButtonRight {
    background: transparent;
    border: none;
    color: #333;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: end;
    box-shadow: none;
    padding: 0;
    flex: 1;
    min-height: 48px;
    cursor: pointer;
}

.secondaryButtonRight:hover {
    color: #08068D;
    text-decoration: underline;
}

.secondaryButtonLeft {
    background: transparent;
    border: none;
    color: #333;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: start;
    box-shadow: none;
    padding: 0;
    flex: 1;
    min-height: 48px;
    cursor: pointer;
}

.secondaryButtonLeft:hover {
    color: #08068D;
    text-decoration: underline;
}

.firstStepButton {
    background-color: #08068D;
    width: 100%;
}

.firstStepButton:hover {
    cursor: pointer;
    color: #08068D;
}

.firstStepButton:disabled {
    cursor: pointer;
    border: none;
    background-color: #C2CCD6;
}

.arrowIcon {
    width: 16px;
    height: 16px;
}

.arrowLeft {
    transform: rotate(180deg);
}

.containerButtonRight,
.containerButtonLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #08068D;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.36px;
}

.containerFirstStepButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.36px;
}