.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    gap: 12px;
}

.secondaryButton {
    background: transparent;
    border: none;
    color: #333;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
}

.secondaryButton:hover {
    color: #000;
    text-decoration: underline;
}

.arrowIcon {
    width: 16px;
    height: 16px;
}

.arrowLeft {
    transform: rotate(180deg); 
}

.containerButtonRight,
.containerButtonLeft {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--Primary-Azul-Universo-700, #08068D);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.36px;
}
