.toggleContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.leftLabel {
    flex-direction: row-reverse;
    gap: 8px;
}

.label {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.24px;
    color: #536679;
}

.toggle {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    border: none;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s;
}

.thumb {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    transition: left 0.2s;
}

.toggle[aria-checked="true"] .thumb {
    left: 22px;
}